/* main navbar wrapper */
.navbarWrapper {
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 1px;
    z-index: 100;
}

/* navbar content */
.navbarContent {
    display: flex;
    padding-bottom: 4px;
    box-shadow: 1px 1px hsla(0, 0%, 53%, 0.687);
    z-index: 50;
}

/* make my trip logo container */
.logoWrapper {
    height: auto;
    display: flex;
}

/* make my trip anchor tag logo container */

.logoimg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* make my trip anchor tag img container */
.logoimg img {
  
    width: 100px;
}

/* .hamburgr_menu */
.hamburgr_menu {
    cursor: pointer;
    display: none;
}

.leftSideNavbar {
    /* flex-grow: 1; */
    display: flex;
    justify-content: space-between;
}

.rightSideNavbar {
    flex-grow: 1;
    display: flex;
}

.rightSideNavbarMobile {
    flex-grow: 5;
    display: flex;
}
.iconWrapper {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}

.iconWrapper>div {
    display: grid;
    place-items: center;
    color: rgb(85, 84, 84);
    cursor: pointer;
}

.iconWrapper>div>span :hover {
    border: #3339e9;
}

.iconWrapper>div>p {
    font-size: 0.8em;
}

.iconWrapper>div>p:hover {
    color: red;
}
 .login{
    background-image: linear-gradient(94deg, #91d253, #3ba184);
    color: white;
    font-weight: 400;

}

@media only screen and (max-width: 768px) {

    .hamburgr_menu {
        display: block;
        display: grid;
        place-items: end;
        align-items: center;
        margin-right: 3%;
        font-size: 1.4em;
    }

    .rightSideNavbar {
        display: none;
    }

    .flex_display {
        display: flex;
    }

    .rightSideNavbarMobile {
        display: flex;
        flex-direction: column;
    }

    .navbarContent {
        flex-direction: column;
    }

    .iconWrapper {
        flex-direction: column;
    }

    .iconWrapper>div {
        margin-top: 10px;
        width: 80%;
        font-size: 1.5em;
        display: flex;
    }

}